@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 98%);
    /* position: relative; */
    min-height: 67vh;
    font-family: 'Lora', serif;
    /* min-width: 300px; */
    font-size: 14px;
    color: hsl(200, 15%, 8%);
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
    /* width: 420px; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
  
}
.container{
    /* background-color: red; */
   margin: 0 auto;
    width: 100%;
   
}

#header{
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0; */
    width: 100%;
    box-shadow: 0px 1px 5px hsl(0, 0%, 52%);
    padding: 15px 30px;
    background-color: hsl(0, 0%, 100%);
}
.headerText{
    font-weight: 800;
}
.dark{
    display: none;
}
.light{
    font-size: 13px;
}
#mode{
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;

}
.main{
    padding: 30px;
    width: 100%;
    
}
.subhead{
    display: flex;
    justify-content: space-between;
}
.searchwrap{
    display: flex;
    box-shadow: 0px 2px 5px hsl(0, 0%, 52%);
    padding: 8px 20px;
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    color: hsl(0, 0%, 52%);
    justify-content: space-between;
    border-radius: 3px;
    align-items: center;

}
#search{
    border: none;
    width: 100%;
    font-size: 14px;
    margin-left: 12px;
    cursor: pointer;
    outline: none;
    padding: 15px 0;
    font-weight: 600;
}
#searchicon{
    font-size: 90%;
    padding: 15px 0;
}
.filter-wrap{
    display: flex;
    border-radius: 3px;
    width: 20%;
    box-shadow: 0px 2px 5px hsl(0, 0%, 52%);
    padding: 8px 10px;
    background-color:hsl(0, 0%, 100%);
}
#filter{
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    padding: 2px ;
    font-size: 14px;
    color: hsl(0, 0%, 52%);
    outline: none;
    border: none;
}
.regions{
    /* padding-top: 15px; */
    border: none;
    outline: none;
 
    font-size: 100%;
    width: 100%;
}
.optionwrap{
    width: 100%;
}
#countries{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: black; */
    gap: 2rem;
    padding-top: 30px;
    width: 100%;
    grid-auto-rows: min-content ;
    
}
.country{
  
    /* height: min-content; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 3px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 1px 1px hsl(0, 0%, 52%);
   
   
}
.country-flag{
    width: 100%;
    height: 100%; 
   
}
.imgwrap {
    height: 100%; 
     width: 100%;
     /* object-fit: contain;  */
}
.country-details{
    padding: 1rem   20px 0;
    width: 100%;
    
}
.country-details .name{
    font-weight: 800;
    margin-bottom: 1rem;
    width: 100%;
    cursor: pointer;
}
.name:hover{
    font-size: 25px;
    transition: .5 ease-out;
}
.population, .region, .capital{
    font-weight: 600;
    margin-bottom: 0.8rem;
}

/* mobile view */
@media screen and (max-width: 800px){
    body{
        width: 100%;
    }
    .container{
        margin: 0 auto;
        width: 100%;
    }
    #countries{
        display: grid;
        grid-template-columns: 1fr ;
        /* background-color: black; */
        gap: 2rem;
        padding-top: 30px;
        width: 85%;
        margin: 0 auto;
        grid-auto-rows: min-content ;
        
    }
    .country{
  
        /* height: min-content; */
        /* display: grid;
        grid-template-rows: 1fr 1fr; */
        border-radius: 4px;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0px 1px 1px hsl(0, 0%, 52%);
        /* cursor: pointer; */
       
    }
    
    .subhead{
        display: block;
        
    }
    .filter-wrap{
        margin-top: 30px;
        border-radius: 3px;
        width: 50%;
        box-shadow: 0px 2px 5px hsl(0, 0%, 52%);
        padding: 8px 10px;;
        background-color:hsl(0, 0%, 100%);
    }
    .searchwrap{
        display: flex;
        box-shadow: 0px 2px 5px hsl(0, 0%, 52%);
        padding: 0 20px;
        background-color: hsl(0, 0%, 100%);
        width: 100%;
        color: hsl(0, 0%, 52%);
        justify-content: space-between;
        border-radius: 3px;
      
    }
   
   
   
}